flows_nmiri000.json
[{"id":"15239e0.a3d1a62","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"870a609b.bff24","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"7db1d612.fee498","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87260241.d13e6","type":"ui_group","z":"","name":"温度","tab":"6c096322.55aa0c","order":1,"disp":true,"width":"6","collapse":false},{"id":"adaa5284.a2692","type":"ui_group","z":"","name":"湿度","tab":"6c096322.55aa0c","order":2,"disp":true,"width":"6","collapse":false},{"id":"367952e6.a5f36e","type":"ui_group","z":"","name":"気圧","tab":"6c096322.55aa0c","order":3,"disp":true,"width":"6","collapse":false},{"id":"8df68496.76e288","type":"ui_group","z":"","name":"明るさ","tab":"6c096322.55aa0c","order":7,"disp":true,"width":"6","collapse":false},{"id":"6c096322.55aa0c","type":"ui_tab","z":"","name":"モニタリング","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1a13e74.e4399","type":"ui_group","z":"","name":"明るさ","tab":"b28b52f7.5543d","order":8,"disp":true,"width":"6","collapse":false},{"id":"b28b52f7.5543d","type":"ui_tab","z":"","name":"グラフ","icon":"dashboard","disabled":false,"hidden":false},{"id":"f22c4145.b8b6b","type":"ui_group","z":"","name":"加速度","tab":"b28b52f7.5543d","order":3,"disp":true,"width":"6","collapse":false},{"id":"782839a1.b0df78","type":"ui_group","z":"","name":"角加速度","tab":"b28b52f7.5543d","order":4,"disp":true,"width":"6","collapse":false},{"id":"4ba299a6.3471a8","type":"ui_group","z":"","name":"磁気","tab":"b28b52f7.5543d","order":5,"disp":true,"width":"6","collapse":false},{"id":"c0d265ae.b07fa8","type":"sensorTag","z":"870a609b.bff24","name":"","topic":"sensorTag","uuid":"f0f8f286e183","temperature":false,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":false,"luxometer":true,"x":80,"y":300,"wires":[["63d25382.9a6eac","8338e96.b6d9e18","3ac986a3.1612fa","7e235efd.9b91","1f2478e3.3500f7","9626fc2.b9d9f","384a4b01.844464"]]},{"id":"63d25382.9a6eac","type":"debug","z":"870a609b.bff24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":300,"wires":[]},{"id":"8338e96.b6d9e18","type":"switch","z":"870a609b.bff24","name":"Humidity Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":380,"wires":[["21d58376.474e2c","bdc7305c.8cfe3"]]},{"id":"3ac986a3.1612fa","type":"switch","z":"870a609b.bff24","name":"Pressure Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":480,"wires":[["6df875b8.225cac"]]},{"id":"c84d87d.f10d978","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"87260241.d13e6","order":1,"width":0,"height":0,"gtype":"gage","title":"温度","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1090,"y":380,"wires":[]},{"id":"97e58743.b99fe8","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"367952e6.a5f36e","order":1,"width":0,"height":0,"gtype":"gage","title":"気圧","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1090,"y":480,"wires":[]},{"id":"21d58376.474e2c","type":"change","z":"870a609b.bff24","name":"Temprature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["c84d87d.f10d978"]]},{"id":"6df875b8.225cac","type":"change","z":"870a609b.bff24","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":480,"wires":[["97e58743.b99fe8"]]},{"id":"7e235efd.9b91","type":"switch","z":"870a609b.bff24","name":"Luxometer Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/luxometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":980,"wires":[["bc85bb4f.8a3758"]]},{"id":"bc85bb4f.8a3758","type":"change","z":"870a609b.bff24","name":"Luxometer","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":980,"wires":[["8bfc8493.280428","96d3c804.5f1028"]]},{"id":"8bfc8493.280428","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"8df68496.76e288","order":1,"width":0,"height":0,"gtype":"gage","title":"明るさ","label":"units","format":"{{value}}","min":0,"max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":" ","seg2":"400","x":1090,"y":980,"wires":[]},{"id":"1f2478e3.3500f7","type":"switch","z":"870a609b.bff24","name":"Magnetometer Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/magnetometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":580,"wires":[["1a797b3d.fa4895","6ab4233f.c262dc","1f084b33.332ef5"]]},{"id":"1a797b3d.fa4895","type":"change","z":"870a609b.bff24","name":"MagnetometerX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":540,"wires":[["fe1fd45c.4122c8"]]},{"id":"951fd81d.9aceb8","type":"ui_gauge","z":"870a609b.bff24","name":"","group":"adaa5284.a2692","order":1,"width":0,"height":0,"gtype":"gage","title":"湿度","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"400","x":1090,"y":420,"wires":[]},{"id":"bdc7305c.8cfe3","type":"change","z":"870a609b.bff24","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":420,"wires":[["951fd81d.9aceb8"]]},{"id":"f98ecde6.94f81","type":"ui_chart","z":"870a609b.bff24","name":"","group":"f1a13e74.e4399","order":0,"width":0,"height":0,"label":"明るさ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":1040,"wires":[[]]},{"id":"9626fc2.b9d9f","type":"switch","z":"870a609b.bff24","name":"Accelerometer Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/accelerometer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":720,"wires":[["1908e184.2ab92e","d98b5274.69ddc","5551f540.72869c"]]},{"id":"1908e184.2ab92e","type":"change","z":"870a609b.bff24","name":"accelerometerX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["b17d4fa2.34176"]]},{"id":"384a4b01.844464","type":"switch","z":"870a609b.bff24","name":"Gyroscope Filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/gyroscope","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":880,"wires":[["f5d97dd0.59c94","7d0ed2e6.ee8a1c","fd6d5251.99ed4"]]},{"id":"f5d97dd0.59c94","type":"change","z":"870a609b.bff24","name":"GyroscopeX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":840,"wires":[["9192592.5840ba8"]]},{"id":"d98b5274.69ddc","type":"change","z":"870a609b.bff24","name":"accelerometerY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":720,"wires":[["622e944.00de56c"]]},{"id":"5551f540.72869c","type":"change","z":"870a609b.bff24","name":"accelerometerZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.z","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["987cc1bb.c783e"]]},{"id":"b17d4fa2.34176","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'X'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":680,"wires":[["dbb56846.ab1af8"]]},{"id":"622e944.00de56c","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'Y'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":720,"wires":[["dbb56846.ab1af8"]]},{"id":"987cc1bb.c783e","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'Z'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":760,"wires":[["dbb56846.ab1af8"]]},{"id":"dbb56846.ab1af8","type":"ui_chart","z":"870a609b.bff24","name":"","group":"f22c4145.b8b6b","order":1,"width":0,"height":0,"label":"加速度","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":720,"wires":[[]]},{"id":"7d0ed2e6.ee8a1c","type":"change","z":"870a609b.bff24","name":"GyroscopeY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":880,"wires":[["a1430320.d996c"]]},{"id":"fd6d5251.99ed4","type":"change","z":"870a609b.bff24","name":"GyroscopeZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.z","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":920,"wires":[["47adbfe0.a7ed1"]]},{"id":"9192592.5840ba8","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'X'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":840,"wires":[["c98992be.12074"]]},{"id":"a1430320.d996c","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'Y'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":880,"wires":[["c98992be.12074"]]},{"id":"47adbfe0.a7ed1","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'Z'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":920,"wires":[["c98992be.12074"]]},{"id":"c98992be.12074","type":"ui_chart","z":"870a609b.bff24","name":"","group":"782839a1.b0df78","order":1,"width":0,"height":0,"label":"角加速度","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":880,"wires":[[]]},{"id":"96d3c804.5f1028","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = '明るさ'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1040,"wires":[["f98ecde6.94f81"]]},{"id":"7f55faf8.e20f04","type":"ui_chart","z":"870a609b.bff24","name":"","group":"4ba299a6.3471a8","order":0,"width":0,"height":0,"label":"磁気","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":580,"wires":[[]]},{"id":"fe1fd45c.4122c8","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'X'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":540,"wires":[["7f55faf8.e20f04"]]},{"id":"6ab4233f.c262dc","type":"change","z":"870a609b.bff24","name":"MagnetometerY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":580,"wires":[["2f053eb6.43d382"]]},{"id":"1f084b33.332ef5","type":"change","z":"870a609b.bff24","name":"MagnetometerZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.z","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":620,"wires":[["b40c9f08.4fd86"]]},{"id":"2f053eb6.43d382","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'Y'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":580,"wires":[["7f55faf8.e20f04"]]},{"id":"b40c9f08.4fd86","type":"function","z":"870a609b.bff24","name":"topic name set","func":"msg.topic = 'Z'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":620,"wires":[["7f55faf8.e20f04"]]}]